/*General*/

*
{
  margin:0px;
  padding :0px;
  font-family: 'Raleway', Arial, sans-serif; 
  text-decoration: none; 
}


/*Header*/

header 
{
  display: grid;
  align-items: center;
  max-width: 1500px;
  margin: auto;
  grid-template-columns: auto 1fr auto auto;
  grid-template-areas: "logo . navbar inscrire"
}

.website_logo
{
  grid-area: logo;
  padding: 0 40px;
} 

.navigation
{
  grid-area: navbar;
  display: flex;   
} 

.nav_title 
{
  padding: 40px;
  text-align: center;
  color: black;
  font-weight: 500;
} 

.nav_title:hover
{
  color: #0065FC;
  border-top:3px solid;
}

.inscription 
{
  grid-area: inscrire;
  display: flex;
  padding: 40px;
  color: #0065FC;
  font-weight: 700; 
}

@media screen and (max-width: 640px) 
  {
    header 
    {
      grid-template-areas: "logo . inscrire" "navbar navbar navbar";
    }
  
    .nav_title 
    {
      border-bottom: 3px solid #F2F2F2;
      width: 500px;
      padding:10px 0;
    }
    .nav_title:hover 
    {
      border-bottom-color: #0065FC;
      border-top: none;
    }
    .found_lodging
    {
      padding:30px 0 10px 0;
    }
}

/*Section 1 Recherche*/

#research
{
  max-width: 1500px;
  margin: auto;
  padding: 0 40px;
}

/*Rechercher*/

.found_lodging
{
  padding-bottom: 10px;
}
.search 
{
  display:flex;
}

.search_icon 
{
  background-color: #F2F2F2;
  padding: 15px 25px;
  border-radius: 15px 0 0 15px;
  text-align: center;
}

.search_input 
{
  border-right: none;
  border-left: none;
  border-top: #F2F2F2 1px solid;
  border-bottom: #F2F2F2 1px solid;
  padding: 0 25px;
  width: 200px;
}

.search_submit 
{
  background-color: #0065FC;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 0 15px 15px 0;
  padding: 0 25px;
  font-size: 16px;
  cursor: pointer;
}

/*Filtres*/

.search_filters_area 
{
  display: flex;
  flex-wrap: wrap;
  margin-top: 32px;
}

.search_filters_title 
{
  display: flex;
  align-items: center;
  margin-right:32px;   
}

.search_filter_button 
{
  display: flex;
  align-items: center;
  margin-right: 32px;
  border: 2px solid #d9d9d9;
  border-radius: 32px;
  cursor: pointer;
  transition-duration: 0.3s;
}

.search_filter_button:hover
{
  background-color: #F2F2F2;
  transform: scale(1.2);
}

.search_button_title
{
  color: black;
  font-weight: bold;
  margin: 0 16px;
}

.search_button_title:hover
{
  color: #0065fc;
}

.search_filter_logos 
{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #DEEBFF;
  border-radius: 100%;
  min-height: 50px;
  min-width: 50px;
  margin: -2px;
}

.search_button_logo 
{
  color:#0065FC;
}

.info 
{
  display: flex;
  align-items: center;
  margin: 16px 0 32px 0;
}

.info_text 
{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 32px;
  min-width: 32px;
  border: solid 1px #d9d9d9;
  border-radius: 100%;
  margin-right: 16px;
}
.info_button_logo
{
  color: #0065FC;
}
.info_text_smart {
  margin: 0;
}

@media screen and (max-width: 640px) 
{
  .search 
  {
    display: flex;
    width: 100%;
  }
  .search_button 
  {
    display: none;
  }
  .search_button2
  {
    display:block;
  }
  .search_submit
  {
    border-radius: 15px;
    margin-left: -10px;
  }
  .search_filters_title
  {
    width: 100%;
  }
  .search_filter_button 
  {
    margin:10px 16px 10px 0;
  }
}
@media screen and (max-width: 1050px) 
{
  .search_filter_button 
  {
    margin:10px 16px 10px 0;
  }
}
@media screen and (min-width: 601px) 
{
  .search_button2
  {
    display: none;
  }
}

/*Section 2 Hébergements*/

#lodging
{
  max-width: 1500px;
  margin: auto;
  padding: 0 40px;
}

.lodging_header
{
  display: flex; 
  justify-items: center; 
  justify-content: space-between;
}

.lodging_tag_price
{
  background-color:#f2f2f2; 
  width: 68%; 
  height: 700px;
  border-radius: 20px;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows:30% 1fr 1fr 30%;
}
