/*General*/

*
{
margin:0px;
padding :0px;
}

body
{
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
}
ul
{
    list-style: none;
    height: 60px;
    width: 200px;
}
  /*Header*/

#entete
{
    height: auto;
    width: auto;
   display: flex; 
   border: black solid 1px;
   
   
}

.logo
{
margin: auto;
border: solid black 1px;
}

.navigation
{
    
    margin: auto;  
    border: black solid 1px;     
}
