/*General*/

*
{
    margin:0px;
    padding :0px;
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
}

body
{
    display: grid;
    align-items: center;
    max-width: 1500px;
    margin: auto;
    
}



  /*Header*/

  header
{
    display: flex;
    justify-content: space-between;

    
     

     
}
 
.navigation 
{
	display: flex;
  	justify-content: flex-end;
  	align-content: center;
  	margin: 0;
 	padding: 0;
  	flex: 1;
    list-style: none;  
    
}

.inscription
{
    color: #0065fc;
    font-weight: bold;
 
}

nav ul li a 
{
    text-decoration: none;
    color: black;
}

li
{
    padding: 1em 1em;
    margin: 2em 1em;
      
}
header figure
{
    padding: 1em 1em;
    margin: 2em 1em;
      
}
a:hover
{
    border-top: #0065fc solid 2px;
    color: #0065fc; 
    padding-top: 40px;
     
}

/*section 1*/

#research
{
    
}
.location
{
    display: flex;

}

.location_logo
{
    width: 15px;
    background-color: #f2f2f2;
    border-top: 30px;
}
button
{
    width: 150px;
    background-color: #0065fc;
    color: white;
    border-radius: 8px;
    margin-right: 10px;
}
